body{
    font-family: sans-serif;
}
ul{
    outline: 1px solid yellow; /* ayuda visual,propiedad que no desmaque permite dibujar un borde en la etiqueta */
    list-style: none;
    margin: 0;
    padding: 0;
    width:150px;
}


li{
    outline: 1px solid red;
}

a{
    text-decoration: none;
    outline:1px solid green;
    display: block;
}